.card_list,
.card_list div {
    display: flex;
    flex-direction: column;
}

.card_list {
    width: 150px;
    gap: 1rem;

    li {
        font-weight: $font-weight-bold;
    }

    div {
        gap: 0.5rem;

        a {
            font-size: 12px;
            color: #111;

            &:hover {
                color: $primary-color;
            }
        }
    }
}