.container_loopInfinit {
    background-color: $background-color-secomdary;
    padding: 3rem 0px;
    overflow: hidden;
}

.card_disclosure {
    width: 550px;
    height: 230px;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 1rem;
    background-color: $background-card-tortary;
    border: 2px solid $text-color-primary;

    animation: carroselRepostsLeft 8s linear infinite;
}

.disclosure_img img {
    width: 200px;
    height: 200px;
    border-radius: 14px;
}

.disclosure_info {
    width: 300px;


    h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 12px;
        margin-bottom: 1.5rem;
        color: $text-color-secondary;
    }
}

.card_infitloop-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: $primary-color;
        max-width: 400px;
        text-align: center;
        margin-bottom: 5rem;
    }
}

.btn {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight: $font-weight-bold;
    background-color: $primary-color;
    color: $background-card-secomdary;

    &:hover {
        background-color: $secondary-color;
    }
}